<!DOCTYPE html>
<html>
<head>
  <title>Insulin Buddy</title>
  <style type="text/css">
  .content {
    font-size: 12px;
    text-align: center;
  }
  </style>
</head>

<body>

  <div class="content">
    <p>If you are seeing this, you have stumbled upon the resources for Insulin Buddy</p>
  </div>

</body>
</html>
